<%= form_for(@api_user) do |f| %>
  <% if @api_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@api_user.errors.count, "error") %> prohibited this api_user from being saved:</h2>

      <ul>
      <% @api_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :api_user_name %><br />
    <%= f.text_field :api_user_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
