<h1>Listing api_users</h1>

<table>
  <tr>
    <th>Api user name</th>
    <th>Email</th>
    <th>Api key</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @api_users.each do |api_user| %>
  <tr>
    <td><%= api_user.api_user_name %></td>
    <td><%= api_user.email %></td>
    <td><%= api_user.api_key %></td>
    <td><%= link_to 'Show', api_user %></td>
    <td><%= link_to 'Edit', edit_api_user_path(api_user) %></td>
    <td><%= link_to 'Destroy', api_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Api user', new_api_user_path %>
