<p id="notice"><%= notice %></p>

<p>
  <b>Api user name:</b>
  <%= @api_user.api_user_name %>
</p>

<p>
  <b>Email:</b>
  <%= @api_user.email %>
</p>

<p>
  <b>Api key:</b>
  <%= @api_user.api_key %>
</p>


<%= link_to 'Edit', edit_api_user_path(@api_user) %> |
<%= link_to 'Back', api_users_path %>
